<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 nav nav-tabs nav-justified">
          <a href="/">Projects</a>
          <a href="http://github.com/garettarrowood" target="_blank">Github</a>
          <a href="/posts.html">Posts</a>
          <a href="http://www.garettarrowood.com" target="_blank">Music</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">

      {{content}}

      </div>

    </div> <!-- ends site div -->
  </body>
</html>