<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css">

    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
  </head>
  <body>

    <div class="navbar">
      <nav>
        <a href="/" title="Blog">Blog</a>
        <a href="http://www.garettarrowood.com" title="Music">Music</a>
        <a href="http://github.com/garettarrowood" title="Github">Github</a>
        <a href="/projects.html" title="Projects">Projects</a>
      </nav>
    </div>

    <div class="site">

      <div class="header">
      </div>

      {{content}}

      <div class="footer">
        <div class="contact">
          <!-- add footer content and style with css -->
        </div>
      </div> <!-- ends footer div -->

    </div> <!-- ends site div -->
  </body>
</html>