<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="col-sm-12">
        <nav>
          <ul class="nav nav-tabs nav-justified">
            <li role="presentation" class="active"><a href="/">Blog</a></li>
            <li role="presentation"><a href="http://www.garettarrowood.com" target="_blank">Music</a></li>
            <li role="presentation"><a href="http://github.com/garettarrowood" target="_blank">Github</a></li>
            <li role="presentation"><a href="/projects.html">Projects</a></li>
            <!-- add avatar that positions to far right to balance navbar -->
          </ul>
        </nav>
      </div>
    </div>


    <div class="container">
      <div class="row">

      {{content}}

      </div>

      <div class="row footer">
        <div class="contact">
          <p>Garett Arrowood - <a href="mailto:garettarrowood@gmail.com">email</a></p>
        </div>
        <div class="copyright">
          <!-- put copyright here -->
        </div>
      </div> <!-- ends footer div -->

    </div> <!-- ends site div -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.js"></script>
  </body>
</html>